@keyframes colorchange{
    0% {
        transition: 0.5s;
        background: -webkit-linear-gradient(60deg,#00A2E8, #0e73f8);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    20% {
        transition: 0.5s;
        background: -webkit-linear-gradient(30deg,#00c5e8, #0e1ef8);
        // background: -webkit-linear-gradient(30deg,#00c5e8, rgb(10, 247, 30));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    40% {
        transition: 0.5s;
        background: -webkit-linear-gradient(15deg,#2b00e8, #0eddf8);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    60% {
        transition: 0.5s;
        background: -webkit-linear-gradient(45deg,#3be2ff, #0e73f8);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    80% {
        transition: 0.5s;
        background: -webkit-linear-gradient(22.5deg,#008be8, #0e39f8);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    100% {
        transition: 0.5s;
        background: -webkit-linear-gradient(36deg,#0e39f8,#00A2E8);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}